/* For Places Sidebar diskfull indicators */

.places-treeview {
    -KrakenPlacesTreeView-disk-full-bg-color: shade(@theme_bg_color, .65);
    -KrakenPlacesTreeView-disk-full-fg-color: shade(@theme_selected_bg_color, 1.0);
    -KrakenPlacesTreeView-disk-full-bar-width: 2px;
    -KrakenPlacesTreeView-disk-full-bar-radius: 1px;
    -KrakenPlacesTreeView-disk-full-bottom-padding: 1px;
    -KrakenPlacesTreeView-disk-full-max-length: 70px;
}

.places-treeview:selected {
    -KrakenPlacesTreeView-disk-full-bg-color: shade(@theme_bg_color, 2.0);
    -KrakenPlacesTreeView-disk-full-fg-color: shade(@theme_fg_color, 2.0);
}

.places-treeview:hover {
}

.places-treeview:selected:hover {
}
